<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 조회</title>
</head>
<body>
    <div><%= post.title %></div> <br>
    <div>닉네임: <%= post.User.nick %></div> <br>
    <div><%= post.body %></div> <br>
    <div><%= post.createdAt %></div> <br>
    <button><a href="/post">뒤로 가기</a></button>
</body>
</html>