<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>찜</title>
</head>
<body>
  <form action="/wish/on" method="post">
    <input id="postId" name="postId" type="text" placeholder="게시글 번호">
    <br>
    <button type="submit">찜</button>
  </form>

  <form action="/wish/off" method="post">
    <input id="postId" name="postId" type="text" placeholder="게시글 번호">
    <br>
    <button type="submit">찜 해제</button>
  </form>

  
</body>
</html>